<div>
    <div>
        <h1>About Us</h1>
        <a href="/views/image/backForAboutUs.png"></a>
    </div>
    <div class="leftSection">
        <p>Mobility for the digital era</p>
        <p>Getting around should be simple (and even fun!) for everyone. We embrace technology to provide low cost, smart access to scooters at your fingertips.</p>
    </div>
    <div class="rightSection">
        <a href="/views/image/leftSectionPhone.png"></a>
        
    </div>
</div>